:root {
    --mauve: #ae7780;
    --lightmauve: #be929a;
    --lightpurple: #e6cde5;
    --red: #df5e73;
}

@font-face {
    font-family: "jellee";
    src:
        url("fonts/Jellee-Bold.woff2") format(woff2),
        url("fonts/Jellee-Bold.woff") format(woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
}

.signup-page {
    position: relative;
    min-height: 100vh;
    display: flex;
}

/* img */
.img-container {
    position: relative;
    width: auto;
    height: 100vh;
    min-width: 120px;
    overflow: hidden;
}

.img-container img {
    width: auto;
    height: 100%;
    display: block;
}

.header {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: var(--lightpurple);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: grid;
    justify-self: center;
    align-self: center;
    margin: 20px;
}

.header h1 {
    font-family: "jellee", sans-serif;
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--lightpurple);
    letter-spacing: 1.3px;
    margin: 0;
}

/* form */
.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 50px;
    max-width: 776px;
    width: 340px;
    flex: auto;
}

.disclaimer,
a {
    font-size: 14px;
}

.disclaimer,
h1,
.offer {
    margin-bottom: 40px;
}

.user-input {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row input[type="password"],
select {
    width: 340px;
    font-size: 16px;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid grey;
}

.form-row input[type="text"]:focus,
.form-row input[type="email"]:focus,
.form-row input[type="tel"]:focus,
.form-row input[type="password"]:focus,
select:focus {
    outline: none;
    border-bottom: 2px solid var(--lightmauve);
}

button {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

#create {
    width: 340px;
    padding: 17px;
    background-color: var(--mauve);
    color: white;
    margin: 20px 0;
    border-radius: 5px;
}

#login {
    color: var(--mauve);
    background-color: white;
}

#create:hover {
    background-color: var(--lightmauve);
}

.error {
    width: 340px;
    font-size: 13px;
    color: var(--red);
}